n8n/workflows/ds-documentation-caba.json
[
  {
    "updatedAt": "2026-07-18T15:26:45.118Z",
    "createdAt": "2026-07-18T09:40:34.346Z",
    "id": "5iHwlZOmTAxQDkec",
    "name": "ds-documentation-caba",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          800,
          48
        ],
        "id": "621fb233-985b-499d-9b8d-4189262d1cae",
        "name": "Process One at a Time"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -320,
          48
        ],
        "id": "83936b04-7dc1-431b-b0bb-36531bc24d0f",
        "name": "When clicking 'Execute workflow'"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "tjovy",
            "mode": "list",
            "cachedResultName": "tjovy",
            "cachedResultUrl": "https://github.com/tjovy"
          },
          "repository": {
            "__rl": true,
            "value": "ds-documentation-caba",
            "mode": "list",
            "cachedResultName": "ds-documentation-caba",
            "cachedResultUrl": "https://github.com/tjovy/ds-documentation-caba"
          },
          "filePath": "tokens-docs.json",
          "binaryPropertyName": "docs",
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -96,
          48
        ],
        "id": "62fd40e2-3b1d-4b5a-8db2-4e456e99571b",
        "name": "Get tokens-docs.json",
        "retryOnFail": false,
        "webhookId": "a2611bc2-7d97-4afb-9797-56c656845612",
        "credentials": {
          "githubApi": {
            "id": "lv23VZZRiDgbEyXw",
            "name": "GitHub account 3"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "tjovy"
          },
          "repository": {
            "__rl": true,
            "value": "ds-documentation-caba",
            "mode": "list",
            "cachedResultName": "ds-documentation-caba",
            "cachedResultUrl": "https://github.com/tjovy/ds-documentation-caba"
          },
          "filePath": "tokens.json",
          "additionalParameters": {
            "reference": "main"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          128,
          48
        ],
        "id": "5e7531f8-4d69-4462-b7e4-ed237da68efc",
        "name": "Get tokens.json",
        "webhookId": "5c7cf299-b69e-466c-adcc-36ceb4043ed9",
        "credentials": {
          "githubApi": {
            "id": "lv23VZZRiDgbEyXw",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const WORKFLOW_VERSION = 'ssot-v3';\nconst MAX_COMPONENTS_PER_RUN = 5;\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map((item) => stableStringify(item)).join(',')}]`;\n  }\n\n  if (value && typeof value === 'object') {\n    return `{${Object.keys(value).sort().map((key) => `${JSON.stringify(key)}:${stableStringify(value[key])}`).join(',')}}`;\n  }\n\n  return JSON.stringify(value ?? null);\n}\n\nfunction simpleHash(value) {\n  const input = typeof value === 'string' ? value : stableStringify(value);\n  let hash = 2166136261;\n  for (let index = 0; index < input.length; index += 1) {\n    hash ^= input.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return `fnv1a-${(hash >>> 0).toString(16).padStart(8, '0')}`;\n}\n\nfunction getNodeByPath(root, path) {\n  return String(path || '')\n    .split('.')\n    .filter(Boolean)\n    .reduce((current, key) => {\n      if (!current || typeof current !== 'object') {\n        return undefined;\n      }\n      return current[key];\n    }, root);\n}\n\nfunction isLegacyDoc(markdown) {\n  const text = String(markdown || '');\n  const normalized = text.toLowerCase();\n\n  if (!text.trim()) return true;\n  if (!normalized.includes('## description')) return true;\n  if (!normalized.includes('## spec')) return true;\n  if (!normalized.includes('## do')) return true;\n  if (!normalized.includes('code interactif')) return true;\n  if (normalized.includes('<token_mapping>') || normalized.includes('<css>') || normalized.includes('<react>')) return true;\n  if (normalized.includes('function buttondemo()')) return true;\n  if (normalized.includes('--component-button-color-bg-')) return true;\n  if (normalized.includes('card · ${variant} · ${size}')) return true;\n\n  return false;\n}\n\nfunction parseSseJson(raw) {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const lines = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter(Boolean);\n  const dataLine = lines.find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Reponse MCP invalide: data manquante');\n  }\n  return JSON.parse(dataLine.slice(6));\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n  });\n\n  const payload = parseSseJson(raw);\n  return payload.result?.structuredContent || null;\n}\n\nasync function resolveReferencedTokenPaths(componentName, existingMeta) {\n  const metaPaths = Array.isArray(existingMeta?.referencedTokenPaths)\n    ? existingMeta.referencedTokenPaths.filter(Boolean)\n    : [];\n\n  if (metaPaths.length > 0) {\n    return metaPaths;\n  }\n\n  const context = await callMcpTool.call(this, 'get_component_generation_context', { name: componentName });\n  const referencedTokens = Array.isArray(context?.contract?.referencedTokens)\n    ? context.contract.referencedTokens\n    : [];\n\n  return referencedTokens\n    .map((item) => item?.tokenPath)\n    .filter(Boolean);\n}\n\ntry {\n  const bufferTokens = await this.helpers.getBinaryDataBuffer(0, 'data', 'Get tokens.json');\n  const tokens = JSON.parse(bufferTokens.toString('utf8'));\n\n  let docs = {};\n  try {\n    const bufferDocs = await this.helpers.getBinaryDataBuffer(0, 'docs', 'Get tokens-docs.json');\n    docs = JSON.parse(bufferDocs.toString('utf8'));\n  } catch (error) {\n    docs = {};\n  }\n\n  const items = [];\n  const components = tokens.component || {};\n\n  for (const componentName of Object.keys(components).sort()) {\n    const existingEntry = docs.component?.[componentName] || {};\n    const existingMarkdown = existingEntry.description || '';\n    const existingMeta = existingEntry._meta || {};\n    const referencedTokenPaths = await resolveReferencedTokenPaths.call(this, componentName, existingMeta);\n\n    const componentSnapshot = components[componentName] || {};\n    const referencedSnapshot = referencedTokenPaths.map((tokenPath) => ({\n      tokenPath,\n      value: getNodeByPath(tokens, tokenPath),\n    }));\n\n    const componentTokenHash = simpleHash(componentSnapshot);\n    const referencedTokenHash = simpleHash(referencedSnapshot);\n    const currentSourceHash = simpleHash({\n      workflowVersion: WORKFLOW_VERSION,\n      componentTokenHash,\n      referencedTokenHash,\n    });\n\n    const reasons = [];\n    if (isLegacyDoc(existingMarkdown)) reasons.push('legacy_doc');\n    if (!existingMeta || typeof existingMeta !== 'object' || !existingMeta.sourceHash) reasons.push('missing_meta');\n    if ((existingMeta.workflowVersion || '') !== WORKFLOW_VERSION) reasons.push('workflow_version_changed');\n    if (existingMeta.componentTokenHash && existingMeta.componentTokenHash !== componentTokenHash) reasons.push('component_tokens_changed');\n    if (referencedTokenPaths.length > 0 && existingMeta.referencedTokenHash && existingMeta.referencedTokenHash !== referencedTokenHash) reasons.push('referenced_tokens_changed');\n    if (existingMeta.sourceHash && existingMeta.sourceHash !== currentSourceHash) reasons.push('source_hash_changed');\n\n    if (reasons.length > 0) {\n      items.push({\n        json: {\n          componentName,\n          tokenPath: `component.${componentName}`,\n          rawComponentTokens: componentSnapshot,\n          existingMarkdown,\n          previousDocs: docs,\n          sourceComparison: {\n            workflowVersion: WORKFLOW_VERSION,\n            reasons,\n            componentTokenHash,\n            referencedTokenPaths,\n            referencedTokenHash,\n            currentSourceHash,\n            previousSourceHash: existingMeta.sourceHash || null,\n          },\n        },\n      });\n    }\n  }\n\n  if (!items.length) {\n    return [{\n      json: {\n        stop: true,\n        message: 'Aucune difference detectee entre tokens.json et tokens-docs.json pour les composants documentes.',\n      },\n    }];\n  }\n\n  return items.slice(0, MAX_COMPONENTS_PER_RUN);\n} catch (error) {\n  return [{ json: { error: 'filter_failed', details: error.message } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          48
        ],
        "id": "47362b8f-61d9-4c65-8e97-68c12f5aeff5",
        "name": "Filtrer les composants incomplets"
      },
      {
        "parameters": {
          "jsCode": "const MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst MCP_TOOL_NAME = 'get_component_generation_context';\n\nfunction parseSseJson(raw) {\n  if (raw && typeof raw === 'object' && !Buffer.isBuffer(raw)) {\n    return raw;\n  }\n\n  const text = Buffer.isBuffer(raw) ? raw.toString('utf8') : String(raw || '');\n\n  try {\n    return JSON.parse(text);\n  } catch {\n    // SSE fallback handled below.\n  }\n\n  const dataChunks = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter((line) => line.startsWith('data:'))\n    .map((line) => line.slice(5).trim())\n    .filter(Boolean)\n    .filter((line) => line !== '[DONE]');\n\n  if (!dataChunks.length) {\n    throw new Error('Reponse MCP invalide: payload JSON ou data SSE manquant');\n  }\n\n  for (let index = dataChunks.length - 1; index >= 0; index -= 1) {\n    try {\n      return JSON.parse(dataChunks[index]);\n    } catch {\n      // Keep searching until a valid JSON payload is found.\n    }\n  }\n\n  throw new Error('Reponse MCP invalide: aucun bloc data SSE JSON exploitable');\n}\n\nfunction extractStructuredContent(payload, toolName) {\n  if (!payload || typeof payload !== 'object') {\n    throw new Error(`Reponse MCP invalide pour ${toolName}: payload vide`);\n  }\n\n  if (payload.error) {\n    const message = payload.error.message || JSON.stringify(payload.error);\n    throw new Error(`Erreur MCP ${toolName}: ${message}`);\n  }\n\n  const result = payload.result;\n  if (!result || typeof result !== 'object') {\n    throw new Error(`Reponse MCP invalide pour ${toolName}: result manquant`);\n  }\n\n  return result.structuredContent ?? null;\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n    timeout: 30000,\n  });\n\n  const payload = parseSseJson(raw);\n  return extractStructuredContent(payload, name);\n}\n\nconst incomingItems = $input.all();\nconst outputItems = [];\n\nfor (const item of incomingItems) {\n  const data = item?.json || {};\n  const componentName = String(data.componentName || '').trim();\n\n  if (data.error) {\n    throw new Error(`Filtre composants en erreur: ${data.details || data.error}`);\n  }\n\n  if (data.stop || !componentName) {\n    console.log(data.message || 'Aucun composant a enrichir par le contexte MCP.');\n    continue;\n  }\n\n  const context = await callMcpTool.call(this, MCP_TOOL_NAME, { name: componentName });\n\n  if (!context || !context.component || !context.component.name) {\n    throw new Error(`Contexte MCP incomplet pour ${componentName}`);\n  }\n\n  if (context.component.requiresFigma && !context.figma?.available) {\n    throw new Error(`Figma indisponible pour ${componentName} alors que le workflow exige un contexte Figma`);\n  }\n\n  outputItems.push({\n    json: {\n      ...data,\n      mcpContext: context,\n    },\n  });\n}\n\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          48
        ],
        "id": "03935102-e635-4379-89c4-689a00f82756",
        "name": "Get component generation context"
      },
      {
        "parameters": {
          "jsCode": "const OPENAI_ENDPOINT = 'https://api.openai.com/v1/responses';\nconst OPENAI_MODEL = process.env.OPENAI_MODEL || 'gpt-5.6-sol';\nconst OPENAI_REASONING_EFFORT = process.env.OPENAI_REASONING_EFFORT || 'high';\nconst OPENAI_REASONING_MODE = process.env.OPENAI_REASONING_MODE || 'standard';\nconst OPENAI_MAX_OUTPUT_TOKENS = Number(process.env.OPENAI_MAX_OUTPUT_TOKENS || 12000);\nconst SYSTEM_PROMPT = \"Tu ecris la documentation composant stockee dans `tokens-docs.json`.\\nStorybook lit `description` telle quelle, sans couche de correction ni normalisation.\\nLe markdown produit doit donc etre directement affichable et le bloc JSX directement exploitable.\\n\\nSingle source of truth obligatoire:\\n1. `figma.blueprint`, puis `figma.designSpec`\\n2. `outputRequirements.jsxBlueprint`\\n3. `component.renderRequirements` et `component.previewMatrix`\\n4. `contract.referencedTokens`\\n5. `tokens.json` / `build/css/variables.css` via `allowedCssVars`\\n\\nInterdictions absolues:\\n- ne rien inventer: variante, taille, etat, sous-composant, prop, CSS var, placeholder marketing\\n- ne jamais utiliser une CSS var absente de `allowedCssVars`\\n- ne pas dire que Figma est indisponible si `figma.available === true`\\n- ne pas ajouter de sections markdown separees `## HTML`, `## CSS` ou `## JS`\\n- ne pas produire de pseudo-balises de migration du type `<token_mapping>`, `<css>`, `<react>`\\n- ne pas utiliser de CSS externe, de classes dependantes d'une feuille externe, ni de handlers interactifs juste pour simuler hover/active/focus\\n- ne pas ecrire manuellement de balise `<style>` dans le JSX: Storybook injecte automatiquement `const css`\\n\\nTon objectif:\\n- markdown valide et lisible tel quel dans Storybook\\n- JSX `react-live` valide et autonome\\n- code de dev complet pour chaque composant: HTML/JSX, CSS et JS, extrait par Storybook depuis le bloc live\\n- rendu structurel fidele au contrat MCP\\n- couleurs, espacements, rayons et typos tires uniquement des CSS vars autorisees\\n\\nRegles de sortie:\\n- retourne uniquement le markdown final, rien d'autre\\n- exactement 4 sections, dans cet ordre:\\n  `## Description`\\n  `## Spec`\\n  `## Do & Don't`\\n  `## Code interactif (Live Editor)`\\n- `Description`: 1 ou 2 phrases courtes maximum\\n- `Spec`: 4 a 6 bullets courtes maximum\\n- `Do`: 2 ou 3 bullets courtes maximum\\n- `Don't`: 2 ou 3 bullets courtes maximum\\n- un seul bloc ```jsx\\n- pas de blocs separes ```html, ```css ou ```js: Storybook decoupe automatiquement le bloc ```jsx en panneaux HTML/CSS/JS\\n- pas de tableau markdown\\n- pas de XML, HTML documentaire ou meta-commentaire\\n\\nRegles Storybook:\\n- le markdown doit etre autoportant: il doit rester comprehensible sans contexte externe\\n- le bloc JSX doit etre complet, compilable et se terminer par `render(<Demo />);`\\n- le bloc JSX ne doit dependre d'aucun import, fichier CSS, asset externe ou helper hors snippet\\n- le bloc JSX doit contenir les 3 parties de code de dev dans cet ordre:\\n  1. `const css = \\\\`...\\\\`;` avec le CSS du composant\\n  2. les constantes, maps, helpers ou sous-composants JS necessaires\\n  3. `const Demo = () => { return (...); };` avec le HTML/JSX rendu, puis `render(<Demo />);`\\n- le CSS doit etre dans le template literal `const css`, jamais dans un fichier externe\\n- le HTML doit etre le JSX retourne par `Demo`, pas un bloc markdown separe\\n- le JS doit rester dans le meme bloc `jsx`, avant `Demo`\\n- si une information n'est pas certaine, l'indiquer comme limite dans `## Spec` au lieu de l'inventer\\n\\nRegles JSX obligatoires:\\n- inclure `const css = \\\\`...\\\\`;` meme si le CSS est court\\n- utiliser des `className` stables et lisibles, scopes au composant, par exemple `.caba-button` ou `.caba-card`\\n- ne pas redefinir les tokens dans `:root`\\n- suivre `outputRequirements.jsxBlueprint` strictement quand il existe\\n- le noeud racine rendu doit respecter `component.htmlTag` ou l'encapsuler explicitement si le blueprint le demande\\n- pas de commentaires inutiles\\n- pas de duplication massive: utiliser arrays, maps et helpers compacts\\n- si `sizes` est vide, ne pas inventer `sm/md/lg`\\n- si `variants` est vide, ne pas inventer de variantes\\n- si `states` est vide, ne pas inventer `hover`, `active`, `focus`, `disabled`\\n- si Figma montre `default/highlight`, `media on/off` ou `default/hover`, n'utiliser que ces variantes\\n\\nRegles couleur / tokens:\\n- utiliser uniquement `allowedCssVars`\\n- preferer les CSS vars explicitement presentes dans `referencedTokens`\\n- si une valeur Figma n'a pas de token direct, utiliser seulement `var(--token-autorise, #valeurFigma)`\\n- ne jamais hardcoder une couleur arbitraire de demo\\n- ne pas inventer des vars du type `--badge-font-size`, `--card-padding`, etc. si elles ne sont pas autorisees\\n\\nRegles de coherences:\\n- si le markdown existant est legacy, incomplet ou contradictoire, le regenerer depuis le contexte MCP\\n- ne jamais reprendre des variantes ou des CSS vars du markdown existant si elles contredisent le contrat courant\\n- utiliser `sourceComparison.reasons` uniquement comme explication de regeneration, pas comme source fonctionnelle\\n\\nConsignes speciales `button`:\\n- vrai element `<button>`\\n- montrer uniquement `primary`, `secondary`, `ghost`\\n- montrer `sm`, `md`, `lg`\\n- montrer uniquement `default`, `hover`, `disabled`\\n- ne pas inventer `danger`, `active`, `focus` ou `pressed`\\n- utiliser une prop statique `state` ou `previewState`\\n- preferer des helpers compacts du type `colorVar(variant, part, state, fallback)` et `sizeVar(size, part, fallback)` plutot qu'un enorme objet de configuration\\n- la demo doit etre une matrice compacte, pas une suite de cas isoles\\n\\nConsignes speciales `card`:\\n- montrer uniquement les axes Figma: Tone `default/highlight`, Media `off/on`, State `default/hover`\\n- respecter `320px` de largeur\\n- media `on`: hauteur de carte `304px`, hauteur media `120px`\\n- media `off`: hauteur de carte `168px`\\n- ne pas inventer layout `400x540`, variante `top/bottom`, CTA ou image obligatoire\";\nconst USER_PROMPT_TEMPLATE = \"Tu generes la documentation Markdown finale du composant pour Storybook.\\n\\nNom du composant : {{componentName}}\\n\\nRaisons de regeneration :\\n{{reasons}}\\n\\nMarkdown actuel (tronque, informatif uniquement) :\\n{{existingMarkdown}}\\n\\nContexte MCP compact :\\n{{mcpContext}}\";\n\nfunction getApiKey() {\n  const apiKey = process.env.OPENAI_API_KEY;\n  if (!apiKey) {\n    throw new Error('OPENAI_API_KEY est manquante dans l\\'environnement n8n. Ajoutez-la puis redemarrez n8n.');\n  }\n  return apiKey;\n}\n\nfunction compactContext(ctx = {}) {\n  return {\n    component: {\n      name: ctx.component?.name,\n      title: ctx.component?.title,\n      htmlTag: ctx.component?.htmlTag,\n      summary: ctx.component?.summary,\n      variants: ctx.component?.variants,\n      sizes: ctx.component?.sizes,\n      states: ctx.component?.states,\n      previewMatrix: ctx.component?.previewMatrix,\n      renderRequirements: ctx.component?.renderRequirements,\n      requiresFigma: ctx.component?.requiresFigma,\n      usageRules: ctx.component?.usageRules,\n      accessibility: ctx.component?.accessibility,\n    },\n    figma: {\n      available: ctx.figma?.available,\n      matchedKey: ctx.figma?.matchedKey,\n      cachedAt: ctx.figma?.cachedAt,\n      blueprint: ctx.figma?.blueprint,\n      shell: ctx.figma?.designSpec ? {\n        name: ctx.figma.designSpec.name,\n        type: ctx.figma.designSpec.type,\n        width: ctx.figma.designSpec.width,\n        height: ctx.figma.designSpec.height,\n        cornerRadius: ctx.figma.designSpec.cornerRadius,\n      } : null,\n    },\n    contract: {\n      allowedCssVars: ctx.contract?.allowedCssVars || [],\n      referencedTokens: (ctx.contract?.referencedTokens || []).map((item) => ({\n        tokenPath: item.tokenPath,\n        cssVar: item.cssVar,\n        resolvedValue: item.resolvedValue,\n        type: item.type,\n      })),\n    },\n    outputRequirements: ctx.outputRequirements,\n  };\n}\n\nfunction buildUserPrompt(data) {\n  return USER_PROMPT_TEMPLATE\n    .replace('{{componentName}}', data.componentName || '')\n    .replace('{{reasons}}', JSON.stringify(data.sourceComparison?.reasons || [], null, 2))\n    .replace('{{existingMarkdown}}', String(data.existingMarkdown || '(aucun)').slice(0, 600))\n    .replace('{{mcpContext}}', JSON.stringify(compactContext(data.mcpContext || {}), null, 2));\n}\n\nfunction extractOutputText(response) {\n  if (!response) return '';\n  if (typeof response.output_text === 'string') return response.output_text;\n  if (typeof response.text === 'string') return response.text;\n  if (typeof response.content === 'string') return response.content;\n  if (Array.isArray(response.output)) {\n    const message = response.output.find((item) => item?.type === 'message' && Array.isArray(item.content));\n    const textBlock = message?.content?.find((block) => typeof block?.text === 'string');\n    if (textBlock) return textBlock.text;\n  }\n  return '';\n}\n\nconst apiKey = getApiKey();\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  const data = item?.json || {};\n  const componentName = String(data.componentName || '').trim();\n\n  if (!componentName) {\n    continue;\n  }\n\n  const body = {\n    model: OPENAI_MODEL,\n    instructions: SYSTEM_PROMPT,\n    input: buildUserPrompt(data),\n    max_output_tokens: OPENAI_MAX_OUTPUT_TOKENS,\n    reasoning: {\n      effort: OPENAI_REASONING_EFFORT,\n      mode: OPENAI_REASONING_MODE,\n    },\n  };\n\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: OPENAI_ENDPOINT,\n    headers: {\n      Authorization: `Bearer ${apiKey}`,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify(body),\n    returnFullResponse: false,\n    timeout: 180000,\n  });\n\n  const text = extractOutputText(response);\n  if (!text.trim()) {\n    throw new Error(`OpenAI n'a retourne aucun markdown exploitable pour ${componentName}`);\n  }\n\n  outputItems.push({\n    json: {\n      text,\n      provider: 'openai',\n      model: OPENAI_MODEL,\n      componentName,\n      openaiResponseId: response?.id || null,\n      usage: response?.usage || null,\n    },\n  });\n}\n\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          48
        ],
        "id": "d4a4209a-a729-490d-907b-ff2055355b9d",
        "name": "OpenAI GPT-5.6 Sol — Generate Markdown"
      },
      {
        "parameters": {
          "jsCode": "const WORKFLOW_VERSION = 'ssot-v3';\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst generatedItems = $input.all();\nconst sourceItems = $('Filtrer les composants incomplets').all();\nconst contextItems = $('Get component generation context').all();\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map((item) => stableStringify(item)).join(',')}]`;\n  }\n\n  if (value && typeof value === 'object') {\n    return `{${Object.keys(value).sort().map((key) => `${JSON.stringify(key)}:${stableStringify(value[key])}`).join(',')}}`;\n  }\n\n  return JSON.stringify(value ?? null);\n}\n\nfunction simpleHash(value) {\n  const input = typeof value === 'string' ? value : stableStringify(value);\n  let hash = 2166136261;\n  for (let index = 0; index < input.length; index += 1) {\n    hash ^= input.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return `fnv1a-${(hash >>> 0).toString(16).padStart(8, '0')}`;\n}\n\nfunction formatBranchTimestamp() {\n  const formatter = new Intl.DateTimeFormat('sv-SE', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n\n  const parts = Object.fromEntries(\n    formatter.formatToParts(new Date()).map((part) => [part.type, part.value])\n  );\n\n  return `${parts.year}-${parts.month}-${parts.day}-${parts.hour}-${parts.minute}-${parts.second}`;\n}\n\nfunction parseSseJson(raw) {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const lines = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter(Boolean);\n  const dataLine = lines.find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Reponse MCP invalide: data manquante');\n  }\n  return JSON.parse(dataLine.slice(6));\n}\n\nfunction getModelText(payload) {\n  if (!payload) return '';\n  if (typeof payload.output_text === 'string') return payload.output_text;\n  if (typeof payload.text === 'string') return payload.text;\n  if (typeof payload.content === 'string') return payload.content;\n  if (Array.isArray(payload.content)) {\n    const textBlock = payload.content.find((block) => block?.type === 'text' && typeof block.text === 'string');\n    if (textBlock) return textBlock.text;\n  }\n  if (typeof payload.output === 'string') return payload.output;\n  if (Array.isArray(payload.output)) {\n    const message = payload.output.find((item) => item?.type === 'message' && Array.isArray(item.content));\n    const textBlock = message?.content?.find((block) => typeof block?.text === 'string');\n    if (textBlock) return textBlock.text;\n  }\n  if (payload.message?.content) {\n    if (typeof payload.message.content === 'string') return payload.message.content;\n    if (Array.isArray(payload.message.content)) {\n      const textBlock = payload.message.content.find((block) => block?.type === 'text' && typeof block.text === 'string');\n      if (textBlock) return textBlock.text;\n    }\n  }\n  return '';\n}\n\nfunction sanitizeMarkdown(markdown) {\n  const text = String(markdown || '').trim();\n  if (!text) return '';\n\n  const fenceCount = (text.match(/```/g) || []).length;\n  if (fenceCount % 2 === 1) {\n    return `${text}\\n\\`\\`\\`\\n`;\n  }\n\n  return text;\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n  });\n\n  const payload = parseSseJson(raw);\n  return payload.result?.structuredContent || null;\n}\n\nfunction toContextPayload(raw) {\n  return raw?.json?.mcpContext ?? raw?.json?.structuredContent ?? raw?.json?.content ?? raw?.json ?? {};\n}\n\nconst previousDocs = JSON.parse(JSON.stringify(sourceItems[0]?.json?.previousDocs || {}));\nif (!previousDocs.component) {\n  previousDocs.component = {};\n}\n\nconst expectedComponents = sourceItems\n  .map((item) => item?.json?.componentName)\n  .filter(Boolean);\nconst validComponents = [];\nconst invalidComponents = [];\n\nfor (let index = 0; index < generatedItems.length; index += 1) {\n  const sourceItem = sourceItems[index]?.json || {};\n  const componentName = sourceItem.componentName || null;\n  const markdown = sanitizeMarkdown(getModelText(generatedItems[index]?.json));\n  const context = toContextPayload(contextItems[index]);\n  const referencedTokens = Array.isArray(context.contract?.referencedTokens) ? context.contract.referencedTokens : [];\n  const componentTokens = Array.isArray(context.contract?.componentTokens) ? context.contract.componentTokens : [];\n  const referencedTokenPaths = referencedTokens.map((item) => item.tokenPath).filter(Boolean);\n  const componentTokenHash = simpleHash(componentTokens.map((item) => ({\n    tokenPath: item.tokenPath,\n    cssVar: item.cssVar,\n    resolvedValue: item.resolvedValue,\n    type: item.type,\n  })));\n  const referencedTokenHash = simpleHash(referencedTokens.map((item) => ({\n    tokenPath: item.tokenPath,\n    cssVar: item.cssVar,\n    resolvedValue: item.resolvedValue,\n    type: item.type,\n  })));\n  const sourceHash = simpleHash({\n    workflowVersion: WORKFLOW_VERSION,\n    componentTokenHash,\n    referencedTokenHash,\n  });\n\n  if (!componentName || !markdown) {\n    invalidComponents.push({\n      componentName: componentName || `item-${index}`,\n      reason: 'empty_markdown',\n    });\n    continue;\n  }\n\n  const validation = await callMcpTool.call(this, 'validate_component_markdown', {\n    name: componentName,\n    markdown,\n  });\n\n  if (!validation?.valid) {\n    invalidComponents.push({\n      componentName,\n      reason: 'mcp_validation_failed',\n      checks: validation?.checks || null,\n      markdownPreview: markdown.slice(0, 800),\n    });\n    continue;\n  }\n\n  if (!previousDocs.component[componentName]) {\n    previousDocs.component[componentName] = {};\n  }\n\n  previousDocs.component[componentName].description = markdown;\n  previousDocs.component[componentName]._meta = {\n    workflowVersion: WORKFLOW_VERSION,\n    generatedAt: new Date().toISOString(),\n    sourceHash,\n    componentTokenHash,\n    referencedTokenHash,\n    referencedTokenPaths,\n    figmaMatchedKey: context.figma?.matchedKey || null,\n    figmaCachedAt: context.figma?.cachedAt || null,\n    variableCssSource: 'main:build/css/variables.css',\n    notes: sourceItem.sourceComparison?.reasons || [],\n  };\n\n  validComponents.push(componentName);\n}\n\nconst missingComponents = expectedComponents.filter((name) => !validComponents.includes(name));\n\nif (!validComponents.length) {\n  throw new Error(`Aucun composant valide genere. Echecs: ${JSON.stringify(invalidComponents)}`);\n}\n\nif (invalidComponents.length || missingComponents.length) {\n  console.log(\n    `Composants non traites dans ce run: missing=${JSON.stringify(missingComponents)} invalid=${JSON.stringify(invalidComponents)}`\n  );\n}\n\nconst branchName = `ai/tokens-update-${formatBranchTimestamp()}`;\n\nreturn [\n  {\n    json: {\n      mode: 'production',\n      message: 'Validation MCP OK. Branche GitHub prete pour review Storybook.',\n      updatedComponents: validComponents.length,\n      validComponents,\n      invalidComponents,\n      content: JSON.stringify(previousDocs, null, 2),\n      contentBase64: Buffer.from(JSON.stringify(previousDocs, null, 2), 'utf-8').toString('base64'),\n      owner: 'tjovy',\n      repo: 'ds-documentation-caba',\n      filePath: 'tokens-docs.json',\n      baseBranch: 'main',\n      branchName,\n      commitMessage: `docs(tokens): refresh ${validComponents.join(', ')}`,\n    },\n  },\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1376,
          48
        ],
        "id": "85940594-b2cb-48c2-a2ff-85ae2bc8b7ee",
        "name": "Finalize + Validate"
      },
      {
        "parameters": {
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/git/ref/heads/\" + $(\"Finalize + Validate\").first().json.baseBranch }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          48
        ],
        "id": "beeeee2a-a70d-4bf3-b210-2c4df29f7888",
        "name": "Get main ref",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/git/refs\" }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { ref: \"refs/heads/\" + $(\"Finalize + Validate\").first().json.branchName, sha: $json.object.sha } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1824,
          48
        ],
        "id": "d9676050-1553-4ef7-903b-e5c232c15ba7",
        "name": "Create docs branch",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/contents/\" + $(\"Finalize + Validate\").first().json.filePath }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { message: $(\"Finalize + Validate\").first().json.commitMessage, content: $(\"Finalize + Validate\").first().json.contentBase64, branch: $(\"Finalize + Validate\").first().json.branchName, sha: $(\"Get docs file metadata\").first().json.sha } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2272,
          48
        ],
        "id": "d0199744-44a4-4078-96f8-c29452569c1c",
        "name": "Push tokens-docs.json",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/contents/\" + $(\"Finalize + Validate\").first().json.filePath + \"?ref=\" + $(\"Finalize + Validate\").first().json.branchName }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          48
        ],
        "id": "3db0501f-93ac-4376-b90f-9cc8469603c9",
        "name": "Get docs file metadata",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      }
    ],
    "connections": {
      "When clicking 'Execute workflow'": {
        "main": [
          [
            {
              "node": "Get tokens-docs.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get tokens-docs.json": {
        "main": [
          [
            {
              "node": "Get tokens.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get tokens.json": {
        "main": [
          [
            {
              "node": "Filtrer les composants incomplets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrer les composants incomplets": {
        "main": [
          [
            {
              "node": "Get component generation context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get component generation context": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process One at a Time": {
        "main": [
          [
            {
              "node": "OpenAI GPT-5.6 Sol — Generate Markdown",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Finalize + Validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize + Validate": {
        "main": [
          [
            {
              "node": "Get main ref",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get main ref": {
        "main": [
          [
            {
              "node": "Create docs branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create docs branch": {
        "main": [
          [
            {
              "node": "Get docs file metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get docs file metadata": {
        "main": [
          [
            {
              "node": "Push tokens-docs.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI GPT-5.6 Sol — Generate Markdown": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "timeSavedMode": "fixed"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "208822af-5e3a-4d87-af28-e925d3453fa4",
    "activeVersionId": null,
    "versionCounter": 19,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-18T09:40:34.350Z",
        "createdAt": "2026-07-18T09:40:34.350Z",
        "role": "workflow:owner",
        "workflowId": "5iHwlZOmTAxQDkec",
        "projectId": "6UjVIo9mXU12vGvK",
        "project": {
          "updatedAt": "2026-02-11T13:01:37.405Z",
          "createdAt": "2026-02-11T12:58:06.202Z",
          "id": "6UjVIo9mXU12vGvK",
          "name": "admin admin <admin@local.test>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "355301fa-a2a0-46ed-8a00-d6690546b819"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]