n8n/workflows/ds-documentation-caba.json
[
  {
    "updatedAt": "2026-07-18T16:51:31.902Z",
    "createdAt": "2026-07-18T09:40:34.346Z",
    "id": "5iHwlZOmTAxQDkec",
    "name": "ds-documentation-caba",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          800,
          144
        ],
        "id": "621fb233-985b-499d-9b8d-4189262d1cae",
        "name": "Process One at a Time"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -544,
          48
        ],
        "id": "83936b04-7dc1-431b-b0bb-36531bc24d0f",
        "name": "When clicking 'Execute workflow'"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "tjovy",
            "mode": "list",
            "cachedResultName": "tjovy",
            "cachedResultUrl": "https://github.com/tjovy"
          },
          "repository": {
            "__rl": true,
            "value": "ds-documentation-caba",
            "mode": "list",
            "cachedResultName": "ds-documentation-caba",
            "cachedResultUrl": "https://github.com/tjovy/ds-documentation-caba"
          },
          "filePath": "tokens-docs.json",
          "binaryPropertyName": "docs",
          "additionalParameters": {
            "reference": "={{ $(\"Get source main ref\").first().json.object.sha }}"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -96,
          144
        ],
        "id": "62fd40e2-3b1d-4b5a-8db2-4e456e99571b",
        "name": "Get tokens-docs.json",
        "retryOnFail": false,
        "webhookId": "a2611bc2-7d97-4afb-9797-56c656845612",
        "credentials": {
          "githubApi": {
            "id": "lv23VZZRiDgbEyXw",
            "name": "GitHub account 3"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "tjovy"
          },
          "repository": {
            "__rl": true,
            "value": "ds-documentation-caba",
            "mode": "list",
            "cachedResultName": "ds-documentation-caba",
            "cachedResultUrl": "https://github.com/tjovy/ds-documentation-caba"
          },
          "filePath": "tokens.json",
          "additionalParameters": {
            "reference": "={{ $(\"Get source main ref\").first().json.object.sha }}"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          128,
          144
        ],
        "id": "5e7531f8-4d69-4462-b7e4-ed237da68efc",
        "name": "Get tokens.json",
        "webhookId": "5c7cf299-b69e-466c-adcc-36ceb4043ed9",
        "credentials": {
          "githubApi": {
            "id": "lv23VZZRiDgbEyXw",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const WORKFLOW_VERSION = 'ssot-v4';\nconst MAX_COMPONENTS_PER_RUN = 5;\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map((item) => stableStringify(item)).join(',')}]`;\n  }\n\n  if (value && typeof value === 'object') {\n    return `{${Object.keys(value).sort().map((key) => `${JSON.stringify(key)}:${stableStringify(value[key])}`).join(',')}}`;\n  }\n\n  return JSON.stringify(value ?? null);\n}\n\nfunction simpleHash(value) {\n  const input = typeof value === 'string' ? value : stableStringify(value);\n  let hash = 2166136261;\n  for (let index = 0; index < input.length; index += 1) {\n    hash ^= input.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return `fnv1a-${(hash >>> 0).toString(16).padStart(8, '0')}`;\n}\n\nfunction getNodeByPath(root, path) {\n  return String(path || '')\n    .split('.')\n    .filter(Boolean)\n    .reduce((current, key) => {\n      if (!current || typeof current !== 'object') {\n        return undefined;\n      }\n      return current[key];\n    }, root);\n}\n\nfunction isLegacyDoc(markdown) {\n  const text = String(markdown || '');\n  const normalized = text.toLowerCase();\n\n  if (!text.trim()) return true;\n  if (!normalized.includes('## description')) return true;\n  if (!normalized.includes('## spec')) return true;\n  if (!normalized.includes('## do')) return true;\n  if (!normalized.includes('code interactif')) return true;\n  if (normalized.includes('<token_mapping>') || normalized.includes('<css>') || normalized.includes('<react>')) return true;\n  if (normalized.includes('function buttondemo()')) return true;\n  if (normalized.includes('--component-button-color-bg-')) return true;\n  if (normalized.includes('card · ${variant} · ${size}')) return true;\n\n  return false;\n}\n\nfunction parseSseJson(raw) {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const lines = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter(Boolean);\n  const dataLine = lines.find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Reponse MCP invalide: data manquante');\n  }\n  return JSON.parse(dataLine.slice(6));\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n  });\n\n  const payload = parseSseJson(raw);\n  return payload.result?.structuredContent || null;\n}\n\nasync function resolveComponentContext(componentName, tokens, sourceRef) {\n  return callMcpTool.call(this, 'get_component_generation_context', {\n    name: componentName,\n    tokens,\n    sourceRef,\n  });\n}\n\nfunction referencedTokenPathsFromContext(context) {\n  const referencedTokens = Array.isArray(context?.contract?.referencedTokens)\n    ? context.contract.referencedTokens\n    : [];\n\n  return referencedTokens\n    .map((item) => item?.tokenPath)\n    .filter(Boolean);\n}\n\nfunction figmaSnapshotFromContext(context) {\n  if (!context?.figma?.available) {\n    return null;\n  }\n\n  return {\n    matchedKey: context.figma.matchedKey || null,\n    complete: context.figma.complete === true,\n    expectedVariantCount: context.figma.expectedVariantCount ?? null,\n    actualVariantCount: context.figma.actualVariantCount ?? null,\n    blueprint: context.figma.blueprint || null,\n    component: {\n      htmlTag: context.component?.htmlTag || null,\n      rootClass: context.component?.rootClass || null,\n      autoDiscovered: context.component?.autoDiscovered === true,\n      axes: context.component?.axes || {},\n      variants: context.component?.variants || [],\n      sizes: context.component?.sizes || [],\n      states: context.component?.states || [],\n      renderRequirements: context.component?.renderRequirements || null,\n    },\n  };\n}\n\nfunction shouldSkipForFigma(componentName, context) {\n  if (!context?.component?.requiresFigma) {\n    return null;\n  }\n\n  if (!context.figma?.available) {\n    return `Figma indisponible pour ${componentName}`;\n  }\n\n  if (!context.figma?.complete) {\n    return `Cache Figma incomplet pour ${componentName}: ${context.figma?.actualVariantCount || 0}/${context.figma?.expectedVariantCount || '?'}`;\n  }\n\n  return null;\n}\n\ntry {\n  const bufferTokens = await this.helpers.getBinaryDataBuffer(0, 'data', 'Get tokens.json');\n  const tokens = JSON.parse(bufferTokens.toString('utf8'));\n  const sourceRef = $('Get source main ref').first()?.json?.object?.sha || 'main';\n\n  let docs = {};\n  try {\n    const bufferDocs = await this.helpers.getBinaryDataBuffer(0, 'docs', 'Get tokens-docs.json');\n    docs = JSON.parse(bufferDocs.toString('utf8'));\n  } catch (error) {\n    docs = {};\n  }\n\n  const items = [];\n  const blockedComponents = [];\n  const components = tokens.component || {};\n\n  for (const componentName of Object.keys(components).sort()) {\n    const existingEntry = docs.component?.[componentName] || {};\n    const existingMarkdown = existingEntry.description || '';\n    const existingMeta = existingEntry._meta || {};\n    const context = await resolveComponentContext.call(this, componentName, tokens, sourceRef);\n    const figmaSkipReason = shouldSkipForFigma(componentName, context);\n    if (figmaSkipReason) {\n      blockedComponents.push({ componentName, reason: figmaSkipReason });\n      console.warn(figmaSkipReason);\n      continue;\n    }\n    const metaPaths = Array.isArray(existingMeta?.referencedTokenPaths)\n      ? existingMeta.referencedTokenPaths.filter(Boolean)\n      : [];\n    const referencedTokenPaths = metaPaths.length > 0 ? metaPaths : referencedTokenPathsFromContext(context);\n\n    const componentSnapshot = components[componentName] || {};\n    const referencedSnapshot = referencedTokenPaths.map((tokenPath) => ({\n      tokenPath,\n      value: getNodeByPath(tokens, tokenPath),\n    }));\n\n    const componentTokenHash = simpleHash(componentSnapshot);\n    const referencedTokenHash = simpleHash(referencedSnapshot);\n    const figmaHash = simpleHash(figmaSnapshotFromContext(context));\n    const currentSourceHash = simpleHash({\n      workflowVersion: WORKFLOW_VERSION,\n      componentTokenHash,\n      referencedTokenHash,\n      figmaHash,\n    });\n\n    const reasons = [];\n    if (isLegacyDoc(existingMarkdown)) reasons.push('legacy_doc');\n    if (!existingMeta || typeof existingMeta !== 'object' || !existingMeta.sourceHash) reasons.push('missing_meta');\n    if ((existingMeta.workflowVersion || '') !== WORKFLOW_VERSION) reasons.push('workflow_version_changed');\n    if (existingMeta.componentTokenHash && existingMeta.componentTokenHash !== componentTokenHash) reasons.push('component_tokens_changed');\n    if (referencedTokenPaths.length > 0 && existingMeta.referencedTokenHash && existingMeta.referencedTokenHash !== referencedTokenHash) reasons.push('referenced_tokens_changed');\n    if (existingMeta.figmaHash && existingMeta.figmaHash !== figmaHash) reasons.push('figma_blueprint_changed');\n    if (existingMeta.sourceHash && existingMeta.sourceHash !== currentSourceHash) reasons.push('source_hash_changed');\n\n    if (reasons.length > 0) {\n      items.push({\n        json: {\n          componentName,\n          tokenPath: `component.${componentName}`,\n          rawComponentTokens: componentSnapshot,\n          existingMarkdown,\n          previousDocs: docs,\n          sourceTokens: tokens,\n          sourceRef,\n          sourceComparison: {\n            workflowVersion: WORKFLOW_VERSION,\n            reasons,\n            componentTokenHash,\n            referencedTokenPaths,\n            referencedTokenHash,\n            figmaHash,\n            currentSourceHash,\n            previousSourceHash: existingMeta.sourceHash || null,\n            previousFigmaHash: existingMeta.figmaHash || null,\n          },\n        },\n      });\n    }\n  }\n\n  if (!items.length) {\n    const blockedMessage = blockedComponents.length\n      ? ` Composants bloques sans appel OpenAI: ${JSON.stringify(blockedComponents)}`\n      : '';\n    console.log(`Aucune difference exploitable entre tokens.json et tokens-docs.json. Aucun appel OpenAI.${blockedMessage}`);\n    return [];\n  }\n\n  return items.slice(0, MAX_COMPONENTS_PER_RUN);\n} catch (error) {\n  return [{ json: { error: 'filter_failed', details: error.message } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          144
        ],
        "id": "47362b8f-61d9-4c65-8e97-68c12f5aeff5",
        "name": "Filtrer les composants incomplets"
      },
      {
        "parameters": {
          "jsCode": "const MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst MCP_TOOL_NAME = 'get_component_generation_context';\nconst MAX_FIGMA_CACHE_AGE_HOURS = Number(process.env.MAX_FIGMA_CACHE_AGE_HOURS || 168);\n\nfunction parseSseJson(raw) {\n  if (raw && typeof raw === 'object' && !Buffer.isBuffer(raw)) {\n    return raw;\n  }\n\n  const text = Buffer.isBuffer(raw) ? raw.toString('utf8') : String(raw || '');\n\n  try {\n    return JSON.parse(text);\n  } catch {\n    // SSE fallback handled below.\n  }\n\n  const dataChunks = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter((line) => line.startsWith('data:'))\n    .map((line) => line.slice(5).trim())\n    .filter(Boolean)\n    .filter((line) => line !== '[DONE]');\n\n  if (!dataChunks.length) {\n    throw new Error('Reponse MCP invalide: payload JSON ou data SSE manquant');\n  }\n\n  for (let index = dataChunks.length - 1; index >= 0; index -= 1) {\n    try {\n      return JSON.parse(dataChunks[index]);\n    } catch {\n      // Keep searching until a valid JSON payload is found.\n    }\n  }\n\n  throw new Error('Reponse MCP invalide: aucun bloc data SSE JSON exploitable');\n}\n\nfunction extractStructuredContent(payload, toolName) {\n  if (!payload || typeof payload !== 'object') {\n    throw new Error(`Reponse MCP invalide pour ${toolName}: payload vide`);\n  }\n\n  if (payload.error) {\n    const message = payload.error.message || JSON.stringify(payload.error);\n    throw new Error(`Erreur MCP ${toolName}: ${message}`);\n  }\n\n  const result = payload.result;\n  if (!result || typeof result !== 'object') {\n    throw new Error(`Reponse MCP invalide pour ${toolName}: result manquant`);\n  }\n\n  return result.structuredContent ?? null;\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n    timeout: 30000,\n  });\n\n  const payload = parseSseJson(raw);\n  return extractStructuredContent(payload, name);\n}\n\nconst incomingItems = $input.all();\nconst outputItems = [];\n\nfor (const item of incomingItems) {\n  const data = item?.json || {};\n  const componentName = String(data.componentName || '').trim();\n\n  if (data.error) {\n    throw new Error(`Filtre composants en erreur: ${data.details || data.error}`);\n  }\n\n  if (data.stop || !componentName) {\n    console.log(data.message || 'Aucun composant a enrichir par le contexte MCP.');\n    continue;\n  }\n\n  const context = await callMcpTool.call(this, MCP_TOOL_NAME, {\n    name: componentName,\n    tokens: data.sourceTokens,\n    sourceRef: data.sourceRef,\n  });\n\n  if (!context || !context.component || !context.component.name) {\n    throw new Error(`Contexte MCP incomplet pour ${componentName}`);\n  }\n\n  if (context.component.requiresFigma && !context.figma?.available) {\n    throw new Error(`Figma indisponible pour ${componentName} alors que le workflow exige un contexte Figma`);\n  }\n\n  if (context.component.requiresFigma && !context.figma?.complete) {\n    throw new Error(\n      `Cache Figma incomplet pour ${componentName}: ${context.figma?.actualVariantCount || 0}/${context.figma?.expectedVariantCount || '?'} variantes`,\n    );\n  }\n\n  const cachedAt = Date.parse(context.figma?.cachedAt || '');\n  const cacheAgeHours = Number.isFinite(cachedAt) ? (Date.now() - cachedAt) / 3600000 : Infinity;\n  if (context.component.requiresFigma && cacheAgeHours > MAX_FIGMA_CACHE_AGE_HOURS) {\n    throw new Error(`Cache Figma trop ancien pour ${componentName}: ${Math.floor(cacheAgeHours)}h`);\n  }\n\n  outputItems.push({\n    json: {\n      ...data,\n      mcpContext: context,\n    },\n  });\n}\n\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          144
        ],
        "id": "03935102-e635-4379-89c4-689a00f82756",
        "name": "Get component generation context"
      },
      {
        "parameters": {
          "jsCode": "const OPENAI_ENDPOINT = 'https://api.openai.com/v1/responses';\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst OPENAI_MODEL = process.env.OPENAI_MODEL || 'gpt-5.6-sol';\nconst OPENAI_REASONING_EFFORT = process.env.OPENAI_REASONING_EFFORT || 'medium';\nconst OPENAI_REASONING_MODE = process.env.OPENAI_REASONING_MODE || 'standard';\nconst OPENAI_MAX_OUTPUT_TOKENS = Number(process.env.OPENAI_MAX_OUTPUT_TOKENS || 6000);\nconst OPENAI_MAX_REPAIR_TOKENS = Number(process.env.OPENAI_MAX_REPAIR_TOKENS || 4000);\nconst SYSTEM_PROMPT = \"Tu produis la documentation et le code de production d'un composant Caba pour `tokens-docs.json` et Storybook `react-live`.\\n\\nSources de verite, dans cet ordre: blueprint Figma, contrat MCP, tokens fournis. N'invente aucune variante, taille, etat, prop, valeur, couleur ou variable CSS.\\n\\nRetourne uniquement du Markdown avec exactement ces quatre titres H2, dans cet ordre:\\n1. `## Description`: 1 ou 2 phrases.\\n2. `## Spec`: 4 a 6 puces courtes.\\n3. `## Do & Don't`: 2 ou 3 Do et 2 ou 3 Don't.\\n4. `## Code interactif (Live Editor)`: un seul bloc `jsx`.\\n\\nLe bloc JSX est le code livre aux developpeurs. Il doit:\\n- compiler sans import ni export;\\n- commencer par `const css = \\\\`...\\\\`;`, puis contenir les helpers/composants et `const Demo = () => ...`;\\n- se terminer exactement par `render(<Demo />);`;\\n- utiliser uniquement les variables presentes dans `tokens` du contexte, sans fallback `var(--x, valeur)`;\\n- ne contenir aucune couleur litterale hex/rgb/hsl, URL, asset externe, acces reseau ou global navigateur;\\n- utiliser la classe racine `component.rootClass` et des classes scopees derivees;\\n- montrer toute la matrice d'axes declaree dans `component.axes` avec des arrays compacts et des `.map()`;\\n- conserver un vrai `<button disabled={...}>` pour Button et un vrai `<article>` pour Card;\\n- contenir HTML/JSX, CSS et logique JS utilisables directement, sans blocs de code separes.\\n\\nButton: uniquement primary/secondary/ghost, sm/md/lg, default/hover/disabled. Card: uniquement tone default/highlight, media off/on, state default/hover. Pour un composant auto-detecte, reprendre seulement `component.axes`, `figma.blueprint` et les CSS vars fournies; si une info manque, le dire dans Spec au lieu d'inventer.\";\n\nfunction getApiKey() {\n  const apiKey = process.env.OPENAI_API_KEY;\n  if (!apiKey) throw new Error('OPENAI_API_KEY manque dans n8n. Ajoutez-la puis redemarrez n8n.');\n  return apiKey;\n}\n\nfunction parseSseJson(raw) {\n  if (raw && typeof raw === 'object' && !Buffer.isBuffer(raw)) return raw;\n  const text = Buffer.isBuffer(raw) ? raw.toString('utf8') : String(raw || '');\n  try { return JSON.parse(text); } catch {}\n  const chunks = text.split('\\n').map((line) => line.trim()).filter((line) => line.startsWith('data:'));\n  for (let index = chunks.length - 1; index >= 0; index -= 1) {\n    try { return JSON.parse(chunks[index].slice(5).trim()); } catch {}\n  }\n  throw new Error('Reponse MCP invalide');\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST', url: MCP_ENDPOINT,\n    headers: { 'Content-Type': 'application/json', Accept: 'application/json, text/event-stream' },\n    body: JSON.stringify({ jsonrpc: '2.0', id: Date.now(), method: 'tools/call', params: { name, arguments: args } }),\n    returnFullResponse: false, timeout: 30000,\n  });\n  const payload = parseSseJson(raw);\n  if (payload.error) throw new Error(payload.error.message || 'Erreur MCP');\n  return payload.result?.structuredContent || null;\n}\n\nfunction compactBlueprint(ctx) {\n  const blueprint = ctx.figma?.blueprint || {};\n  if (ctx.component?.name === 'button') {\n    const styles = {};\n    for (const [variant, states] of Object.entries(blueprint.variants || {})) {\n      styles[variant] = {};\n      for (const [state, sizes] of Object.entries(states || {})) {\n        const sample = Object.values(sizes || {})[0] || {};\n        styles[variant][state] = {\n          background: sample.background, border: sample.border, borderWidth: sample.borderWidth,\n          opacity: sample.opacity, label: sample.label,\n        };\n      }\n    }\n    return { shell: blueprint.shell, sizes: blueprint.sizes, styles };\n  }\n  if (ctx.component?.name === 'card') {\n    return {\n      shell: blueprint.shell,\n      variants: (blueprint.variants || []).map((item) => ({\n        tone: item.tone, media: item.media, state: item.state, width: item.width, height: item.height,\n        cornerRadius: item.cornerRadius, background: item.background, shadow: item.shadow,\n        mediaSpec: item.mediaSpec ? { width: item.mediaSpec.width, height: item.mediaSpec.height, cornerRadii: item.mediaSpec.cornerRadii } : null,\n        content: item.content,\n      })),\n    };\n  }\n  return {\n    shell: blueprint.shell,\n    axes: blueprint.axes || {},\n    variants: (blueprint.variants || []).slice(0, 12).map((item) => ({\n      name: item.name,\n      axes: item.axes || {},\n      width: item.width,\n      height: item.height,\n      cornerRadius: item.cornerRadius,\n      fills: item.fills,\n      strokes: item.strokes,\n      effects: item.effects,\n      autoLayout: item.autoLayout,\n      textNodes: item.textNodes,\n    })),\n    textNodes: blueprint.textNodes,\n  };\n}\n\nfunction compactContext(ctx = {}) {\n  const tokenMap = new Map();\n  for (const item of [...(ctx.contract?.componentTokens || []), ...(ctx.contract?.referencedTokens || [])]) {\n    if (item?.cssVar) tokenMap.set(item.cssVar, item.resolvedValue);\n  }\n  return {\n    component: {\n      name: ctx.component?.name, htmlTag: ctx.component?.htmlTag, rootClass: ctx.component?.rootClass,\n      autoDiscovered: ctx.component?.autoDiscovered === true,\n      axes: ctx.component?.axes || {},\n      variants: ctx.component?.variants || [], sizes: ctx.component?.sizes || [], states: ctx.component?.states || [],\n      previewMatrix: ctx.component?.previewMatrix, renderRequirements: ctx.component?.renderRequirements,\n      usageRules: ctx.component?.usageRules, accessibility: ctx.component?.accessibility,\n    },\n    figma: { matchedKey: ctx.figma?.matchedKey, cachedAt: ctx.figma?.cachedAt, blueprint: compactBlueprint(ctx) },\n    tokens: [...tokenMap.entries()],\n    jsxBlueprint: ctx.outputRequirements?.jsxBlueprint,\n  };\n}\n\nfunction extractOutputText(response) {\n  if (typeof response?.output_text === 'string') return response.output_text;\n  for (const item of response?.output || []) {\n    for (const block of item?.content || []) if (typeof block?.text === 'string') return block.text;\n  }\n  return '';\n}\n\nfunction retryable(error) {\n  const status = Number(error?.statusCode || error?.response?.status || 0);\n  return status === 429 || status >= 500;\n}\n\nasync function requestOpenAi(input, maxOutputTokens) {\n  const body = {\n    model: OPENAI_MODEL, instructions: SYSTEM_PROMPT, input, max_output_tokens: maxOutputTokens,\n    reasoning: { effort: OPENAI_REASONING_EFFORT, mode: OPENAI_REASONING_MODE },\n  };\n  for (let attempt = 0; attempt < 2; attempt += 1) {\n    try {\n      return await this.helpers.httpRequest({\n        method: 'POST', url: OPENAI_ENDPOINT,\n        headers: { Authorization: `Bearer ${getApiKey()}`, 'Content-Type': 'application/json' },\n        body: JSON.stringify(body), returnFullResponse: false, timeout: 180000,\n      });\n    } catch (error) {\n      if (attempt || !retryable(error)) throw error;\n      await new Promise((resolve) => setTimeout(resolve, 1200));\n    }\n  }\n}\n\nconst outputItems = [];\nfor (const item of $input.all()) {\n  const data = item?.json || {};\n  const componentName = String(data.componentName || '').trim();\n  if (!componentName) continue;\n  const compact = compactContext(data.mcpContext || {});\n  const firstInput = `Composant: ${componentName}\\nContexte JSON:\\n${JSON.stringify(compact)}`;\n  const firstResponse = await requestOpenAi.call(this, firstInput, OPENAI_MAX_OUTPUT_TOKENS);\n  let text = extractOutputText(firstResponse).trim();\n  if (!text) throw new Error(`OpenAI n'a retourne aucun markdown pour ${componentName}`);\n\n  let validation = await callMcpTool.call(this, 'validate_component_markdown', {\n    name: componentName, markdown: text, tokens: data.sourceTokens, sourceRef: data.sourceRef,\n  });\n  let repairResponse = null;\n  if (!validation?.valid) {\n    const repairInput = `Corrige uniquement les erreurs ci-dessous et retourne tout le Markdown final.\\nErreurs:\\n${JSON.stringify(validation?.checks || {})}\\nSortie invalide:\\n${text}`;\n    repairResponse = await requestOpenAi.call(this, repairInput, OPENAI_MAX_REPAIR_TOKENS);\n    text = extractOutputText(repairResponse).trim();\n    validation = await callMcpTool.call(this, 'validate_component_markdown', {\n      name: componentName, markdown: text, tokens: data.sourceTokens, sourceRef: data.sourceRef,\n    });\n  }\n  if (!validation?.valid) throw new Error(`Validation finale impossible pour ${componentName}: ${JSON.stringify(validation?.checks || {})}`);\n\n  outputItems.push({ json: {\n    text, provider: 'openai', model: OPENAI_MODEL, componentName,\n    repairUsed: !!repairResponse,\n    openaiResponseIds: [firstResponse?.id, repairResponse?.id].filter(Boolean),\n    usage: [firstResponse?.usage, repairResponse?.usage].filter(Boolean),\n  } });\n}\nreturn outputItems;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          48
        ],
        "id": "d4a4209a-a729-490d-907b-ff2055355b9d",
        "name": "OpenAI GPT-5.6 Sol — Generate Markdown"
      },
      {
        "parameters": {
          "jsCode": "const WORKFLOW_VERSION = 'ssot-v4';\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst generatedItems = $input.all();\nconst sourceItems = $('Filtrer les composants incomplets').all();\nconst contextItems = $('Get component generation context').all();\n\nfunction formatBranchTimestamp() {\n  const formatter = new Intl.DateTimeFormat('sv-SE', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n\n  const parts = Object.fromEntries(\n    formatter.formatToParts(new Date()).map((part) => [part.type, part.value])\n  );\n\n  return `${parts.year}-${parts.month}-${parts.day}-${parts.hour}-${parts.minute}-${parts.second}-${Date.now().toString(36).slice(-5)}`;\n}\n\nfunction parseSseJson(raw) {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const lines = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter(Boolean);\n  const dataLine = lines.find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Reponse MCP invalide: data manquante');\n  }\n  return JSON.parse(dataLine.slice(6));\n}\n\nfunction getModelText(payload) {\n  if (!payload) return '';\n  if (typeof payload.output_text === 'string') return payload.output_text;\n  if (typeof payload.text === 'string') return payload.text;\n  if (typeof payload.content === 'string') return payload.content;\n  if (Array.isArray(payload.content)) {\n    const textBlock = payload.content.find((block) => block?.type === 'text' && typeof block.text === 'string');\n    if (textBlock) return textBlock.text;\n  }\n  if (typeof payload.output === 'string') return payload.output;\n  if (Array.isArray(payload.output)) {\n    const message = payload.output.find((item) => item?.type === 'message' && Array.isArray(item.content));\n    const textBlock = message?.content?.find((block) => typeof block?.text === 'string');\n    if (textBlock) return textBlock.text;\n  }\n  if (payload.message?.content) {\n    if (typeof payload.message.content === 'string') return payload.message.content;\n    if (Array.isArray(payload.message.content)) {\n      const textBlock = payload.message.content.find((block) => block?.type === 'text' && typeof block.text === 'string');\n      if (textBlock) return textBlock.text;\n    }\n  }\n  return '';\n}\n\nfunction sanitizeMarkdown(markdown) {\n  const text = String(markdown || '').trim();\n  if (!text) return '';\n\n  const fenceCount = (text.match(/```/g) || []).length;\n  if (fenceCount % 2 === 1) {\n    return `${text}\\n\\`\\`\\`\\n`;\n  }\n\n  return text;\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n  });\n\n  const payload = parseSseJson(raw);\n  return payload.result?.structuredContent || null;\n}\n\nfunction toContextPayload(raw) {\n  return raw?.json?.mcpContext ?? raw?.json?.structuredContent ?? raw?.json?.content ?? raw?.json ?? {};\n}\n\nconst previousDocs = JSON.parse(JSON.stringify(sourceItems[0]?.json?.previousDocs || {}));\nif (!previousDocs.component) {\n  previousDocs.component = {};\n}\n\nconst expectedComponents = sourceItems\n  .map((item) => item?.json?.componentName)\n  .filter(Boolean);\nconst validComponents = [];\nconst invalidComponents = [];\n\nfor (let index = 0; index < generatedItems.length; index += 1) {\n  const sourceItem = sourceItems[index]?.json || {};\n  const componentName = sourceItem.componentName || null;\n  const markdown = sanitizeMarkdown(getModelText(generatedItems[index]?.json));\n  const context = toContextPayload(contextItems[index]);\n  const comparison = sourceItem.sourceComparison || {};\n  const referencedTokenPaths = comparison.referencedTokenPaths || [];\n  const componentTokenHash = comparison.componentTokenHash;\n  const referencedTokenHash = comparison.referencedTokenHash;\n  const figmaHash = comparison.figmaHash;\n  const sourceHash = comparison.currentSourceHash;\n\n  if (!componentName || !markdown) {\n    invalidComponents.push({\n      componentName: componentName || `item-${index}`,\n      reason: 'empty_markdown',\n    });\n    continue;\n  }\n\n  const validation = await callMcpTool.call(this, 'validate_component_markdown', {\n    name: componentName,\n    markdown,\n    tokens: sourceItem.sourceTokens,\n    sourceRef: sourceItem.sourceRef,\n  });\n\n  if (!validation?.valid) {\n    invalidComponents.push({\n      componentName,\n      reason: 'mcp_validation_failed',\n      checks: validation?.checks || null,\n      markdownPreview: markdown.slice(0, 800),\n    });\n    continue;\n  }\n\n  if (!previousDocs.component[componentName]) {\n    previousDocs.component[componentName] = {};\n  }\n\n  previousDocs.component[componentName].description = markdown;\n  previousDocs.component[componentName]._meta = {\n    workflowVersion: WORKFLOW_VERSION,\n    generatedAt: new Date().toISOString(),\n    sourceHash,\n    componentTokenHash,\n    referencedTokenHash,\n    figmaHash,\n    referencedTokenPaths,\n    figmaMatchedKey: context.figma?.matchedKey || null,\n    figmaCachedAt: context.figma?.cachedAt || null,\n    variableCssSource: 'main:build/css/variables.css',\n    notes: sourceItem.sourceComparison?.reasons || [],\n  };\n\n  validComponents.push(componentName);\n}\n\nconst missingComponents = expectedComponents.filter((name) => !validComponents.includes(name));\n\nif (invalidComponents.length || missingComponents.length) {\n  throw new Error(\n    `Validation bloquante: missing=${JSON.stringify(missingComponents)} invalid=${JSON.stringify(invalidComponents)}`,\n  );\n}\n\nif (!validComponents.length) throw new Error('Aucun composant valide genere. Aucun push GitHub.');\n\nconst branchName = `ai/tokens-update-${formatBranchTimestamp()}`;\n\nreturn [\n  {\n    json: {\n      mode: 'production',\n      message: 'Validation MCP OK. Branche GitHub prete pour review Storybook.',\n      updatedComponents: validComponents.length,\n      validComponents,\n      invalidComponents,\n      content: JSON.stringify(previousDocs, null, 2),\n      contentBase64: Buffer.from(JSON.stringify(previousDocs, null, 2), 'utf-8').toString('base64'),\n      owner: 'tjovy',\n      repo: 'ds-documentation-caba',\n      filePath: 'tokens-docs.json',\n      baseBranch: 'main',\n      baseSha: sourceItems[0]?.json?.sourceRef || null,\n      branchName,\n      commitMessage: `docs(tokens): refresh ${validComponents.join(', ')}`,\n    },\n  },\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          240
        ],
        "id": "85940594-b2cb-48c2-a2ff-85ae2bc8b7ee",
        "name": "Finalize + Validate"
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/tjovy/ds-documentation-caba/git/ref/heads/main",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -320,
          48
        ],
        "id": "beeeee2a-a70d-4bf3-b210-2c4df29f7888",
        "name": "Get source main ref",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/git/refs\" }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { ref: \"refs/heads/\" + $(\"Finalize + Validate\").first().json.branchName, sha: $(\"Finalize + Validate\").first().json.baseSha } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1248,
          240
        ],
        "id": "d9676050-1553-4ef7-903b-e5c232c15ba7",
        "name": "Create docs branch",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/contents/\" + $(\"Finalize + Validate\").first().json.filePath }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { message: $(\"Finalize + Validate\").first().json.commitMessage, content: $(\"Finalize + Validate\").first().json.contentBase64, branch: $(\"Finalize + Validate\").first().json.branchName, sha: $(\"Get docs file metadata\").first().json.sha } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1696,
          240
        ],
        "id": "d0199744-44a4-4078-96f8-c29452569c1c",
        "name": "Push tokens-docs.json",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/contents/\" + $(\"Finalize + Validate\").first().json.filePath + \"?ref=\" + $(\"Finalize + Validate\").first().json.branchName }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github+json"
              },
              {
                "name": "X-GitHub-Api-Version",
                "value": "2022-11-28"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1472,
          240
        ],
        "id": "3db0501f-93ac-4376-b90f-9cc8469603c9",
        "name": "Get docs file metadata",
        "credentials": {
          "githubApi": {
            "id": "GA3NoeEA2GQl80vY",
            "name": "GitHub account 2"
          }
        }
      }
    ],
    "connections": {
      "When clicking 'Execute workflow'": {
        "main": [
          [
            {
              "node": "Get source main ref",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get tokens-docs.json": {
        "main": [
          [
            {
              "node": "Get tokens.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get tokens.json": {
        "main": [
          [
            {
              "node": "Filtrer les composants incomplets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrer les composants incomplets": {
        "main": [
          [
            {
              "node": "Get component generation context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get component generation context": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process One at a Time": {
        "main": [
          [
            {
              "node": "OpenAI GPT-5.6 Sol — Generate Markdown",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Finalize + Validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize + Validate": {
        "main": [
          [
            {
              "node": "Create docs branch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create docs branch": {
        "main": [
          [
            {
              "node": "Get docs file metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get docs file metadata": {
        "main": [
          [
            {
              "node": "Push tokens-docs.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI GPT-5.6 Sol — Generate Markdown": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get source main ref": {
        "main": [
          [
            {
              "node": "Get tokens-docs.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "timeSavedMode": "fixed"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "208822af-5e3a-4d87-af28-e925d3453fa4",
    "activeVersionId": null,
    "versionCounter": 19,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-18T09:40:34.350Z",
        "createdAt": "2026-07-18T09:40:34.350Z",
        "role": "workflow:owner",
        "workflowId": "5iHwlZOmTAxQDkec",
        "projectId": "6UjVIo9mXU12vGvK",
        "project": {
          "updatedAt": "2026-02-11T13:01:37.405Z",
          "createdAt": "2026-02-11T12:58:06.202Z",
          "id": "6UjVIo9mXU12vGvK",
          "name": "admin admin <admin@local.test>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "355301fa-a2a0-46ed-8a00-d6690546b819"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]