n8n/workflows/ds-token-mcp.json
{
  "name": "ds-token-mcp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        176
      ],
      "id": "47732e3f-6ddd-48d7-b6ae-cfcb84c82af7",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "atypic",
          "mode": "list",
          "cachedResultName": "atypic",
          "cachedResultUrl": "https://github.com/atypic"
        },
        "repository": {
          "__rl": true,
          "value": "ds-documentation-caba",
          "mode": "list",
          "cachedResultName": "ds-documentation-caba",
          "cachedResultUrl": "https://github.com/atypic/ds-documentation-caba"
        },
        "filePath": "tokens-docs.json",
        "binaryPropertyName": "docs",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -80,
        176
      ],
      "id": "febb85ef-0315-4f47-aa54-4b63998f7b88",
      "name": "Get tokens-docs.json",
      "retryOnFail": false,
      "webhookId": "9de99890-6e89-486b-96f1-b88f8713ac9f",
      "credentials": {
        "githubApi": {
          "id": "gBS5rVOKIHyLPzV9",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "atypic",
          "cachedResultName": "atypic",
          "cachedResultUrl": "https://github.com/atypic"
        },
        "repository": {
          "__rl": true,
          "value": "ds-documentation-caba",
          "mode": "list",
          "cachedResultName": "ds-documentation-caba",
          "cachedResultUrl": "https://github.com/atypic/ds-documentation-caba"
        },
        "filePath": "tokens.json",
        "additionalParameters": {
          "reference": "main"
        },
        "binaryPropertyName": "data"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        160,
        176
      ],
      "id": "652b64b7-38fb-4889-98da-ef9b446d4a64",
      "name": "Get tokens.json",
      "webhookId": "65153cea-e5ca-4bc9-a1f8-4de7fa75cace",
      "credentials": {
        "githubApi": {
          "id": "gBS5rVOKIHyLPzV9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_VERSION = 'ssot-v3';\nconst MAX_COMPONENTS_PER_RUN = 5;\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map((item) => stableStringify(item)).join(',')}]`;\n  }\n\n  if (value && typeof value === 'object') {\n    return `{${Object.keys(value).sort().map((key) => `${JSON.stringify(key)}:${stableStringify(value[key])}`).join(',')}}`;\n  }\n\n  return JSON.stringify(value ?? null);\n}\n\nfunction simpleHash(value) {\n  const input = typeof value === 'string' ? value : stableStringify(value);\n  let hash = 2166136261;\n  for (let index = 0; index < input.length; index += 1) {\n    hash ^= input.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return `fnv1a-${(hash >>> 0).toString(16).padStart(8, '0')}`;\n}\n\nfunction getNodeByPath(root, path) {\n  return String(path || '')\n    .split('.')\n    .filter(Boolean)\n    .reduce((current, key) => {\n      if (!current || typeof current !== 'object') {\n        return undefined;\n      }\n      return current[key];\n    }, root);\n}\n\nfunction isLegacyDoc(markdown) {\n  const text = String(markdown || '');\n  const normalized = text.toLowerCase();\n\n  if (!text.trim()) return true;\n  if (!normalized.includes('## description')) return true;\n  if (!normalized.includes('## spec')) return true;\n  if (!normalized.includes('## do')) return true;\n  if (!normalized.includes('code interactif')) return true;\n  if (normalized.includes('<token_mapping>') || normalized.includes('<css>') || normalized.includes('<react>')) return true;\n  if (normalized.includes('function buttondemo()')) return true;\n  if (normalized.includes('--component-button-color-bg-')) return true;\n  if (normalized.includes('card · ${variant} · ${size}')) return true;\n\n  return false;\n}\n\nfunction parseSseJson(raw) {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const lines = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter(Boolean);\n  const dataLine = lines.find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Reponse MCP invalide: data manquante');\n  }\n  return JSON.parse(dataLine.slice(6));\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n  });\n\n  const payload = parseSseJson(raw);\n  return payload.result?.structuredContent || null;\n}\n\nasync function resolveReferencedTokenPaths(componentName, existingMeta) {\n  const metaPaths = Array.isArray(existingMeta?.referencedTokenPaths)\n    ? existingMeta.referencedTokenPaths.filter(Boolean)\n    : [];\n\n  if (metaPaths.length > 0) {\n    return metaPaths;\n  }\n\n  const context = await callMcpTool.call(this, 'get_component_generation_context', { name: componentName });\n  const referencedTokens = Array.isArray(context?.contract?.referencedTokens)\n    ? context.contract.referencedTokens\n    : [];\n\n  return referencedTokens\n    .map((item) => item?.tokenPath)\n    .filter(Boolean);\n}\n\ntry {\n  const bufferTokens = await this.helpers.getBinaryDataBuffer(0, 'data', 'Get tokens.json');\n  const tokens = JSON.parse(bufferTokens.toString('utf8'));\n\n  let docs = {};\n  try {\n    const bufferDocs = await this.helpers.getBinaryDataBuffer(0, 'docs', 'Get tokens-docs.json');\n    docs = JSON.parse(bufferDocs.toString('utf8'));\n  } catch (error) {\n    docs = {};\n  }\n\n  const items = [];\n  const components = tokens.component || {};\n\n  for (const componentName of Object.keys(components).sort()) {\n    const existingEntry = docs.component?.[componentName] || {};\n    const existingMarkdown = existingEntry.description || '';\n    const existingMeta = existingEntry._meta || {};\n    const referencedTokenPaths = await resolveReferencedTokenPaths.call(this, componentName, existingMeta);\n\n    const componentSnapshot = components[componentName] || {};\n    const referencedSnapshot = referencedTokenPaths.map((tokenPath) => ({\n      tokenPath,\n      value: getNodeByPath(tokens, tokenPath),\n    }));\n\n    const componentTokenHash = simpleHash(componentSnapshot);\n    const referencedTokenHash = simpleHash(referencedSnapshot);\n    const currentSourceHash = simpleHash({\n      workflowVersion: WORKFLOW_VERSION,\n      componentTokenHash,\n      referencedTokenHash,\n    });\n\n    const reasons = [];\n    if (isLegacyDoc(existingMarkdown)) reasons.push('legacy_doc');\n    if (!existingMeta || typeof existingMeta !== 'object' || !existingMeta.sourceHash) reasons.push('missing_meta');\n    if ((existingMeta.workflowVersion || '') !== WORKFLOW_VERSION) reasons.push('workflow_version_changed');\n    if (existingMeta.componentTokenHash && existingMeta.componentTokenHash !== componentTokenHash) reasons.push('component_tokens_changed');\n    if (referencedTokenPaths.length > 0 && existingMeta.referencedTokenHash && existingMeta.referencedTokenHash !== referencedTokenHash) reasons.push('referenced_tokens_changed');\n    if (existingMeta.sourceHash && existingMeta.sourceHash !== currentSourceHash) reasons.push('source_hash_changed');\n\n    if (reasons.length > 0) {\n      items.push({\n        json: {\n          componentName,\n          tokenPath: `component.${componentName}`,\n          rawComponentTokens: componentSnapshot,\n          existingMarkdown,\n          previousDocs: docs,\n          sourceComparison: {\n            workflowVersion: WORKFLOW_VERSION,\n            reasons,\n            componentTokenHash,\n            referencedTokenPaths,\n            referencedTokenHash,\n            currentSourceHash,\n            previousSourceHash: existingMeta.sourceHash || null,\n          },\n        },\n      });\n    }\n  }\n\n  if (!items.length) {\n    return [{\n      json: {\n        stop: true,\n        message: 'Aucune difference detectee entre tokens.json et tokens-docs.json pour les composants documentes.',\n      },\n    }];\n  }\n\n  return items.slice(0, MAX_COMPONENTS_PER_RUN);\n} catch (error) {\n  return [{ json: { error: 'filter_failed', details: error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        176
      ],
      "id": "ad1e87e7-98f3-476d-a833-5a761afb90b8",
      "name": "Filtrer les composants incomplets"
    },
    {
      "parameters": {
        "jsCode": "const MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst MCP_TOOL_NAME = 'get_component_generation_context';\n\nfunction parseSseJson(raw) {\n  if (raw && typeof raw === 'object' && !Buffer.isBuffer(raw)) {\n    return raw;\n  }\n\n  const text = Buffer.isBuffer(raw) ? raw.toString('utf8') : String(raw || '');\n\n  try {\n    return JSON.parse(text);\n  } catch {\n    // SSE fallback handled below.\n  }\n\n  const dataChunks = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter((line) => line.startsWith('data:'))\n    .map((line) => line.slice(5).trim())\n    .filter(Boolean)\n    .filter((line) => line !== '[DONE]');\n\n  if (!dataChunks.length) {\n    throw new Error('Reponse MCP invalide: payload JSON ou data SSE manquant');\n  }\n\n  for (let index = dataChunks.length - 1; index >= 0; index -= 1) {\n    try {\n      return JSON.parse(dataChunks[index]);\n    } catch {\n      // Keep searching until a valid JSON payload is found.\n    }\n  }\n\n  throw new Error('Reponse MCP invalide: aucun bloc data SSE JSON exploitable');\n}\n\nfunction extractStructuredContent(payload, toolName) {\n  if (!payload || typeof payload !== 'object') {\n    throw new Error(`Reponse MCP invalide pour ${toolName}: payload vide`);\n  }\n\n  if (payload.error) {\n    const message = payload.error.message || JSON.stringify(payload.error);\n    throw new Error(`Erreur MCP ${toolName}: ${message}`);\n  }\n\n  const result = payload.result;\n  if (!result || typeof result !== 'object') {\n    throw new Error(`Reponse MCP invalide pour ${toolName}: result manquant`);\n  }\n\n  return result.structuredContent ?? null;\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n    timeout: 30000,\n  });\n\n  const payload = parseSseJson(raw);\n  return extractStructuredContent(payload, name);\n}\n\nconst incomingItems = $input.all();\nconst outputItems = [];\n\nfor (const item of incomingItems) {\n  const data = item?.json || {};\n  const componentName = String(data.componentName || '').trim();\n\n  if (data.error) {\n    throw new Error(`Filtre composants en erreur: ${data.details || data.error}`);\n  }\n\n  if (data.stop || !componentName) {\n    console.log(data.message || 'Aucun composant a enrichir par le contexte MCP.');\n    continue;\n  }\n\n  const context = await callMcpTool.call(this, MCP_TOOL_NAME, { name: componentName });\n\n  if (!context || !context.component || !context.component.name) {\n    throw new Error(`Contexte MCP incomplet pour ${componentName}`);\n  }\n\n  if (context.component.requiresFigma && !context.figma?.available) {\n    throw new Error(`Figma indisponible pour ${componentName} alors que le workflow exige un contexte Figma`);\n  }\n\n  outputItems.push({\n    json: {\n      ...data,\n      mcpContext: context,\n    },\n  });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        176
      ],
      "id": "b6418152-5b36-41bc-83ac-bae4cc02b678",
      "name": "Get component generation context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu generes la documentation Markdown finale du composant pour Storybook.\n\nNom du composant : {{ $json.componentName }}\n\nRaisons de regeneration :\n{{ JSON.stringify($json.sourceComparison?.reasons || [], null, 2) }}\n\nMarkdown actuel (tronque, informatif uniquement) :\n{{ (($json.existingMarkdown || '(aucun)').slice(0, 600)) }}\n\nContexte MCP compact :\n{{ JSON.stringify((() => {\n  const ctx = $json.mcpContext ?? {};\n  return {\n    component: {\n      name: ctx.component?.name,\n      title: ctx.component?.title,\n      htmlTag: ctx.component?.htmlTag,\n      summary: ctx.component?.summary,\n      variants: ctx.component?.variants,\n      sizes: ctx.component?.sizes,\n      states: ctx.component?.states,\n      previewMatrix: ctx.component?.previewMatrix,\n      renderRequirements: ctx.component?.renderRequirements,\n      requiresFigma: ctx.component?.requiresFigma,\n      usageRules: ctx.component?.usageRules,\n      accessibility: ctx.component?.accessibility,\n    },\n    figma: {\n      available: ctx.figma?.available,\n      matchedKey: ctx.figma?.matchedKey,\n      cachedAt: ctx.figma?.cachedAt,\n      blueprint: ctx.figma?.blueprint,\n      shell: ctx.figma?.designSpec ? {\n        name: ctx.figma.designSpec.name,\n        type: ctx.figma.designSpec.type,\n        width: ctx.figma.designSpec.width,\n        height: ctx.figma.designSpec.height,\n        cornerRadius: ctx.figma.designSpec.cornerRadius,\n      } : null,\n    },\n    contract: {\n      allowedCssVars: ctx.contract?.allowedCssVars || [],\n      referencedTokens: (ctx.contract?.referencedTokens || []).map((item) => ({\n        tokenPath: item.tokenPath,\n        cssVar: item.cssVar,\n        resolvedValue: item.resolvedValue,\n        type: item.type,\n      })),\n    },\n    outputRequirements: ctx.outputRequirements,\n  };\n})(), null, 2) }}"
            }
          ]
        },
        "options": {
          "system": "Tu ecris la documentation composant stockee dans `tokens-docs.json`.\nStorybook lit `description` telle quelle, sans couche de correction ni normalisation.\nLe markdown produit doit donc etre directement affichable et le bloc JSX directement exploitable.\n\nSingle source of truth obligatoire:\n1. `figma.blueprint`, puis `figma.designSpec`\n2. `outputRequirements.jsxBlueprint`\n3. `component.renderRequirements` et `component.previewMatrix`\n4. `contract.referencedTokens`\n5. `tokens.json` / `build/css/variables.css` via `allowedCssVars`\n\nInterdictions absolues:\n- ne rien inventer: variante, taille, etat, sous-composant, prop, CSS var, placeholder marketing\n- ne jamais utiliser une CSS var absente de `allowedCssVars`\n- ne pas dire que Figma est indisponible si `figma.available === true`\n- ne pas ajouter de sections `HTML`, `CSS` ou `JS`\n- ne pas produire de pseudo-balises de migration du type `<token_mapping>`, `<css>`, `<react>`\n- ne pas utiliser `<style>`, CSS externe, classes dependantes d'une feuille externe, ni handlers interactifs juste pour simuler hover/active/focus\n\nTon objectif:\n- markdown valide et lisible tel quel dans Storybook\n- JSX `react-live` valide et autonome\n- rendu structurel fidele au contrat MCP\n- couleurs, espacements, rayons et typos tires uniquement des CSS vars autorisees\n\nRegles de sortie:\n- retourne uniquement le markdown final, rien d'autre\n- exactement 4 sections, dans cet ordre:\n  `## Description`\n  `## Spec`\n  `## Do & Don't`\n  `## Code interactif (Live Editor)`\n- `Description`: 1 ou 2 phrases courtes maximum\n- `Spec`: 4 a 6 bullets courtes maximum\n- `Do`: 2 ou 3 bullets courtes maximum\n- `Don't`: 2 ou 3 bullets courtes maximum\n- un seul bloc ```jsx\n- pas de tableau markdown\n- pas de XML, HTML documentaire ou meta-commentaire\n\nRegles Storybook:\n- le markdown doit etre autoportant: il doit rester comprehensible sans contexte externe\n- le bloc JSX doit etre complet, compilable et se terminer par `render(<Demo />);`\n- le bloc JSX ne doit dependre d'aucun import, fichier CSS, asset externe ou helper hors snippet\n- si une information n'est pas certaine, l'indiquer comme limite dans `## Spec` au lieu de l'inventer\n\nRegles JSX obligatoires:\n- suivre `outputRequirements.jsxBlueprint` strictement quand il existe\n- le noeud racine rendu doit respecter `component.htmlTag` ou l'encapsuler explicitement si le blueprint le demande\n- pas de commentaires inutiles\n- pas de duplication massive: utiliser arrays, maps et helpers compacts\n- si `sizes` est vide, ne pas inventer `sm/md/lg`\n- si `variants` est vide, ne pas inventer de variantes\n- si `states` est vide, ne pas inventer `hover`, `active`, `focus`, `disabled`\n- si Figma montre `default/highlight`, `media on/off` ou `default/hover`, n'utiliser que ces variantes\n\nRegles couleur / tokens:\n- utiliser uniquement `allowedCssVars`\n- preferer les CSS vars explicitement presentes dans `referencedTokens`\n- si une valeur Figma n'a pas de token direct, utiliser seulement `var(--token-autorise, #valeurFigma)`\n- ne jamais hardcoder une couleur arbitraire de demo\n- ne pas inventer des vars du type `--badge-font-size`, `--card-padding`, etc. si elles ne sont pas autorisees\n\nRegles de coherences:\n- si le markdown existant est legacy, incomplet ou contradictoire, le regenerer depuis le contexte MCP\n- ne jamais reprendre des variantes ou des CSS vars du markdown existant si elles contredisent le contrat courant\n- utiliser `sourceComparison.reasons` uniquement comme explication de regeneration, pas comme source fonctionnelle\n\nConsignes speciales `button`:\n- vrai element `<button>`\n- montrer uniquement `primary`, `secondary`, `ghost`\n- montrer `sm`, `md`, `lg`\n- montrer uniquement `default`, `hover`, `disabled`\n- ne pas inventer `danger`, `active`, `focus` ou `pressed`\n- utiliser une prop statique `state` ou `previewState`\n- preferer des helpers compacts du type `colorVar(variant, part, state, fallback)` et `sizeVar(size, part, fallback)` plutot qu'un enorme objet de configuration\n- la demo doit etre une matrice compacte, pas une suite de cas isoles\n\nConsignes speciales `card`:\n- montrer uniquement les axes Figma: Tone `default/highlight`, Media `off/on`, State `default/hover`\n- respecter `320px` de largeur\n- media `on`: hauteur de carte `304px`, hauteur media `120px`\n- media `off`: hauteur de carte `168px`\n- ne pas inventer layout `400x540`, variante `top/bottom`, CTA ou image obligatoire",
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        880,
        176
      ],
      "id": "d3b9a1c9-46b5-43c8-9d95-aa2560b26a63",
      "name": "Claude Sonnet 4.6 — Generate Markdown",
      "credentials": {
        "anthropicApi": {
          "id": "91YdjMjlho67H7bY",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const WORKFLOW_VERSION = 'ssot-v3';\nconst MCP_ENDPOINT = 'http://127.0.0.1:3101/mcp';\nconst generatedItems = $input.all();\nconst sourceItems = $('Filtrer les composants incomplets').all();\nconst contextItems = $('Get component generation context').all();\n\nfunction stableStringify(value) {\n  if (Array.isArray(value)) {\n    return `[${value.map((item) => stableStringify(item)).join(',')}]`;\n  }\n\n  if (value && typeof value === 'object') {\n    return `{${Object.keys(value).sort().map((key) => `${JSON.stringify(key)}:${stableStringify(value[key])}`).join(',')}}`;\n  }\n\n  return JSON.stringify(value ?? null);\n}\n\nfunction simpleHash(value) {\n  const input = typeof value === 'string' ? value : stableStringify(value);\n  let hash = 2166136261;\n  for (let index = 0; index < input.length; index += 1) {\n    hash ^= input.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return `fnv1a-${(hash >>> 0).toString(16).padStart(8, '0')}`;\n}\n\nfunction formatBranchTimestamp() {\n  const formatter = new Intl.DateTimeFormat('sv-SE', {\n    timeZone: 'Europe/Paris',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n\n  const parts = Object.fromEntries(\n    formatter.formatToParts(new Date()).map((part) => [part.type, part.value])\n  );\n\n  return `${parts.year}-${parts.month}-${parts.day}-${parts.hour}-${parts.minute}-${parts.second}`;\n}\n\nfunction parseSseJson(raw) {\n  const text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const lines = text\n    .split('\\n')\n    .map((line) => line.trim())\n    .filter(Boolean);\n  const dataLine = lines.find((line) => line.startsWith('data: '));\n  if (!dataLine) {\n    throw new Error('Reponse MCP invalide: data manquante');\n  }\n  return JSON.parse(dataLine.slice(6));\n}\n\nfunction getModelText(payload) {\n  if (!payload) return '';\n  if (typeof payload.text === 'string') return payload.text;\n  if (typeof payload.content === 'string') return payload.content;\n  if (Array.isArray(payload.content)) {\n    const textBlock = payload.content.find((block) => block?.type === 'text' && typeof block.text === 'string');\n    if (textBlock) return textBlock.text;\n  }\n  if (typeof payload.output === 'string') return payload.output;\n  if (payload.message?.content) {\n    if (typeof payload.message.content === 'string') return payload.message.content;\n    if (Array.isArray(payload.message.content)) {\n      const textBlock = payload.message.content.find((block) => block?.type === 'text' && typeof block.text === 'string');\n      if (textBlock) return textBlock.text;\n    }\n  }\n  return '';\n}\n\nfunction sanitizeMarkdown(markdown) {\n  const text = String(markdown || '').trim();\n  if (!text) return '';\n\n  const fenceCount = (text.match(/```/g) || []).length;\n  if (fenceCount % 2 === 1) {\n    return `${text}\\n\\`\\`\\`\\n`;\n  }\n\n  return text;\n}\n\nasync function callMcpTool(name, args) {\n  const raw = await this.helpers.httpRequest({\n    method: 'POST',\n    url: MCP_ENDPOINT,\n    headers: {\n      'Content-Type': 'application/json',\n      Accept: 'application/json, text/event-stream',\n    },\n    body: JSON.stringify({\n      jsonrpc: '2.0',\n      id: Date.now(),\n      method: 'tools/call',\n      params: {\n        name,\n        arguments: args,\n      },\n    }),\n    returnFullResponse: false,\n  });\n\n  const payload = parseSseJson(raw);\n  return payload.result?.structuredContent || null;\n}\n\nfunction toContextPayload(raw) {\n  return raw?.json?.mcpContext ?? raw?.json?.structuredContent ?? raw?.json?.content ?? raw?.json ?? {};\n}\n\nconst previousDocs = JSON.parse(JSON.stringify(sourceItems[0]?.json?.previousDocs || {}));\nif (!previousDocs.component) {\n  previousDocs.component = {};\n}\n\nconst expectedComponents = sourceItems\n  .map((item) => item?.json?.componentName)\n  .filter(Boolean);\nconst validComponents = [];\nconst invalidComponents = [];\n\nfor (let index = 0; index < generatedItems.length; index += 1) {\n  const sourceItem = sourceItems[index]?.json || {};\n  const componentName = sourceItem.componentName || null;\n  const markdown = sanitizeMarkdown(getModelText(generatedItems[index]?.json));\n  const context = toContextPayload(contextItems[index]);\n  const referencedTokens = Array.isArray(context.contract?.referencedTokens) ? context.contract.referencedTokens : [];\n  const componentTokens = Array.isArray(context.contract?.componentTokens) ? context.contract.componentTokens : [];\n  const referencedTokenPaths = referencedTokens.map((item) => item.tokenPath).filter(Boolean);\n  const componentTokenHash = simpleHash(componentTokens.map((item) => ({\n    tokenPath: item.tokenPath,\n    cssVar: item.cssVar,\n    resolvedValue: item.resolvedValue,\n    type: item.type,\n  })));\n  const referencedTokenHash = simpleHash(referencedTokens.map((item) => ({\n    tokenPath: item.tokenPath,\n    cssVar: item.cssVar,\n    resolvedValue: item.resolvedValue,\n    type: item.type,\n  })));\n  const sourceHash = simpleHash({\n    workflowVersion: WORKFLOW_VERSION,\n    componentTokenHash,\n    referencedTokenHash,\n  });\n\n  if (!componentName || !markdown) {\n    invalidComponents.push({\n      componentName: componentName || `item-${index}`,\n      reason: 'empty_markdown',\n    });\n    continue;\n  }\n\n  const validation = await callMcpTool.call(this, 'validate_component_markdown', {\n    name: componentName,\n    markdown,\n  });\n\n  if (!validation?.valid) {\n    invalidComponents.push({\n      componentName,\n      reason: 'mcp_validation_failed',\n      checks: validation?.checks || null,\n      markdownPreview: markdown.slice(0, 800),\n    });\n    continue;\n  }\n\n  if (!previousDocs.component[componentName]) {\n    previousDocs.component[componentName] = {};\n  }\n\n  previousDocs.component[componentName].description = markdown;\n  previousDocs.component[componentName]._meta = {\n    workflowVersion: WORKFLOW_VERSION,\n    generatedAt: new Date().toISOString(),\n    sourceHash,\n    componentTokenHash,\n    referencedTokenHash,\n    referencedTokenPaths,\n    figmaMatchedKey: context.figma?.matchedKey || null,\n    figmaCachedAt: context.figma?.cachedAt || null,\n    variableCssSource: 'main:build/css/variables.css',\n    notes: sourceItem.sourceComparison?.reasons || [],\n  };\n\n  validComponents.push(componentName);\n}\n\nconst missingComponents = expectedComponents.filter((name) => !validComponents.includes(name));\n\nif (!validComponents.length) {\n  throw new Error(`Aucun composant valide genere. Echecs: ${JSON.stringify(invalidComponents)}`);\n}\n\nif (invalidComponents.length || missingComponents.length) {\n  throw new Error(\n    `Generation incomplete. missing=${JSON.stringify(missingComponents)} invalid=${JSON.stringify(invalidComponents)}`\n  );\n}\n\nconst branchName = `ai/tokens-update-${formatBranchTimestamp()}`;\n\nreturn [\n  {\n    json: {\n      mode: 'production',\n      message: 'Validation MCP OK. Branche GitHub prete pour review Storybook.',\n      updatedComponents: validComponents.length,\n      validComponents,\n      invalidComponents,\n      content: JSON.stringify(previousDocs, null, 2),\n      contentBase64: Buffer.from(JSON.stringify(previousDocs, null, 2), 'utf-8').toString('base64'),\n      owner: 'atypic',\n      repo: 'ds-documentation-caba',\n      filePath: 'tokens-docs.json',\n      baseBranch: 'main',\n      branchName,\n      commitMessage: `docs(tokens): refresh ${validComponents.join(', ')}`,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        176
      ],
      "id": "d82eaa3d-4666-4bf2-871d-4d90d65600ef",
      "name": "Finalize + Validate"
    },
    {
      "parameters": {
        "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/git/ref/heads/\" + $(\"Finalize + Validate\").first().json.baseBranch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        176
      ],
      "id": "2337af45-dbeb-40bd-a0f5-6f935f5e5a0a",
      "name": "Get main ref",
      "credentials": {
        "githubApi": {
          "id": "gBS5rVOKIHyLPzV9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/git/refs\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ref: \"refs/heads/\" + $(\"Finalize + Validate\").first().json.branchName, sha: $json.object.sha } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        176
      ],
      "id": "a3ed189f-9d9d-4251-8592-4ab13c9f43d9",
      "name": "Create docs branch",
      "credentials": {
        "githubApi": {
          "id": "gBS5rVOKIHyLPzV9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/contents/\" + $(\"Finalize + Validate\").first().json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $(\"Finalize + Validate\").first().json.commitMessage, content: $(\"Finalize + Validate\").first().json.contentBase64, branch: $(\"Finalize + Validate\").first().json.branchName, sha: $(\"Get docs file metadata\").first().json.sha } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        176
      ],
      "id": "02b1ec89-d6e0-4f59-b9bc-e5f7202365cc",
      "name": "Push tokens-docs.json",
      "credentials": {
        "githubApi": {
          "id": "gBS5rVOKIHyLPzV9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ \"https://api.github.com/repos/\" + $(\"Finalize + Validate\").first().json.owner + \"/\" + $(\"Finalize + Validate\").first().json.repo + \"/contents/\" + $(\"Finalize + Validate\").first().json.filePath + \"?ref=\" + $(\"Finalize + Validate\").first().json.branchName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        48
      ],
      "id": "7a605ad4-d9eb-4e5a-a7b8-f2dc8d86d161",
      "name": "Get docs file metadata",
      "credentials": {
        "githubApi": {
          "id": "gBS5rVOKIHyLPzV9",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        176
      ],
      "id": "04c1bfd5-008c-441b-be43-0271d1d8fd8b",
      "name": "Process One at a Time"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get tokens-docs.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tokens-docs.json": {
      "main": [
        [
          {
            "node": "Get tokens.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer les composants incomplets": {
      "main": [
        [
          {
            "node": "Get component generation context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get component generation context": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.6 — Generate Markdown": {
      "main": [
        [
          {
            "node": "Finalize + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize + Validate": {
      "main": [
        [
          {
            "node": "Get main ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get main ref": {
      "main": [
        [
          {
            "node": "Create docs branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create docs branch": {
      "main": [
        [
          {
            "node": "Get docs file metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get docs file metadata": {
      "main": [
        [
          {
            "node": "Push tokens-docs.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push tokens-docs.json": {
      "main": []
    },
    "Process One at a Time": {
      "main": [
        [
          {
            "node": "Claude Sonnet 4.6 — Generate Markdown",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get tokens.json": {
      "main": [
        [
          {
            "node": "Filtrer les composants incomplets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {},
  "pinData": {},
  "meta": {}
}
